html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

/* .bg-color{
    background-color: #fdf0e2 !important;
} */
@font-face {
    font-family: roboto;
    src: url(Roboto/README.txt);
}

.font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.bg-color {
    background-color: rgb(247, 212, 185);
}

.bg-image {
    height: 87vh !important;
    width: 100% !important;
    background-image: url(images/hero\ section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fh-c{
    color: rgb(64, 41, 22);
}
.b-color{
    background-color: rgb(64, 41, 22) !important ;
}

.color{
    color: rgb(88, 58, 33) !important ;
}

.bg-colors{
    background-color:rgb(247, 212, 185) !important  ;
}

.bg-c{
    /* background-color: rgb(254, 234, 219); */
    background-color: bisque;
    height: 170vh;
}

@media (max-width: 768px) {
  .bg-c {
    height: 250vh;
  }
}

.pic{
    width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 576px) {
  .pic {
    width: 100%;
    height: auto;
  }
}